body {
	font-family: 'Lato', sans-serif;
}

p {
	font-weight: 100;
	font-size: 16px;
	&.lead {
		font-weight: thin;
		font-size: 26px;
	}
}
.window {
	height: 100%;
	&.blue {
		background-color: #0784f2;
		color: #fff;
	}
	&.white {
		background-color: #ffffff;
		color: #333;
	}
	&.blur_1 {
		background: url("/static/simon/img/blur_1.jpg");
		color: #fff;
	}
	&.purple {
		background-color: #a55afa;
	}
}

.title {
	padding-bottom: 40px;
}
h1 {
	font-weight: 100;
	&.huge {
		font-size: 72px;
	}
	&.large {
		font-size: 56px;
	}
	a {
		color: #fff;
		&:hover {
			color: #d8d8d8;
		}
	}
}




.center { text-align: center; }
.centered { margin: 0 auto; }

.spacer {
	padding-top: 30px;
	&.large {
		padding-top: 60px;
	}
	
	&.larger {
		padding-top: 100px;
	}
	
	&.huge {
		padding-top: 200px;
	}
}

#intro_beauty, #intro_prec {
  -webkit-animation-duration: 2s;
  top: 50%;
}

.row {
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.center-bottom {
  margin: auto;
  position: absolute;
  left: 0; bottom: 0; right: 0;
}
.center-verticle {
  margin: auto;
  position: absolute;
  top: 20%; left: 0; bottom: 0; right: 0;
}

.back-top {
	position: fixed;
	bottom: 10px;
	right: 30px;
	
	a {
		color: #333;
	}
}

.sub-title{
	opacity: 0.5;
}

.skills-body {
	font-size: 18px;
	
	& i { 
		color: #458cef;
	}
}

.heading h1 {
	font-weight: 300;
}

.black {
	color: #333;
}
.red {
	color: #f82525;
}

.transparent {
	opacity: 0.4;
}

.skill {
	padding-bottom: 8px;
	padding-right: 30px;
	padding-left: 5px;
}
