<!DOCTYPE html>
<html>
{% block css %}
<link rel='stylesheet' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel='stylesheet' type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700">
<link rel='stylesheet' type="text/css" href="{{ STATIC_URL }}/css/index.css">
    
<link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">
{% endblock %}
<head>
    <title>Brading Software LTD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    {% include 'include/header.html' %}
    {% block content %}
    {% endblock %}
    
    {% block footer %}
     <footer>
        <div class="container-fluid">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Brading Software Inc. &middot;</p>
        </div>
     </footer>
    {% endblock %}
</body>
{% block js %}
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
</html>