<!DOCTYPE html>
<html>
{% block css %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}/css/index.css">
 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 <link rel="icon" type="image/png" href="http://www.beachballs.com/images/AD_36_Rainbow.png">
{% endblock %}
<head>
    <title>Brading Software</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    {% include 'include/header.html' %}
    {% block content %}
    {% endblock %}
    {% block footer %}
     <footer>
        <p id="b2t" class="pull-right"><a href="#">Back to top</a>
        </p>
        <p id="cprght">&copy; 2014 Brading Software Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
        </p>
     </footer>
    {% endblock %}
</body>
{% block js %}
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
</html>