{% extends 'base.html' %} 

{% block content %}
<div class="jumbotron full-background">
    <div class="space1 hidden-xs hidden-sm"></div>
    <h1 class="light">Brading Software <span class="headline-small hidden-xs">LTD</span></h1>
    <h2 class="light">Brighton-based website and app developers</h2>
</div>
<div class="space1"></div>
<div class="container">
    <h1>What we do...</h1>
    <div class="space3"></div>
    <div class="row">
        <div class="col-md-7">
            <h2 >Finalists at the University of Sussex working towards a Bachelors degree in Computer Science.</h2>
            <p class="lead">As well as our degrees, we actively spend our free time developing applications, 
                            websites and are always looking for ways to extend our skills.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="http://www.essex.ac.uk/ldev/images/US_Logo_Standard_use_RGB_Flint.jpg">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-5">
        <img class="img-responsive" src="https://farm6.staticflickr.com/5064/5611236614_fd673fca5d_b.jpg">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">High quality applications written for Android and iOS as well as high-impact, well thought out websites.</h2>
             <p class="lead">Consolidating our knowledge of the latest technologies into applications and websites designed for your audiences and purposes.</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-7">
            <h2>What's next?</h2>
            <p class="lead">Contact us to discuss how we can help you with your app and web development project. Click
            	<a href="{% url 'about' %}">here</a> for more information.
            </p>
        </div>
        <div class="col-md-5">
        <i class="fa fa-search" style="font-size:8em; margin-left:20%; color:#0074ff; text-shadow:1px 1px 8px #575757;"></i>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
 <footer>
    <div class="container-fluid">

        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Company number 09123565&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;info@bradingsoftware.co.uk&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; 2014 Brading Software Inc.</p>

    </div>
 </footer>

{% endblock %} 

{% block footer %}
{#    {{ block.super }}#}
<p class="cc">
    <a href="http://www.flickr.com/photos/jp_london/1012935875">"Sunset in Brighton"</a>is copyright (c) 2007 //joao paulo and made available under
    <a href="https://creativecommons.org/licenses/by/2.0/">Creative Commons license.</a>
</p>
{% endblock %}