{% extends 'simon/simon_base.html' %} 
{% block content %}
<div class="back-top">
<a href="#home">Back to Top <i class="fa fa-arrow-up"></i></a>
</div>
<section id="0" class="window">
<div class="container-fluid main" id="home">
	<div class="full-image">
		<div>
			<div class="center center-verticle">
				<h1 id="intro_beauty" class="huge animated">Beautiful Design</h1>
				<h1 id="intro_prec" class="large animated">Imagination is the limit</h1>
			</div>
			<div class="center-bottom">
				<h1 id="down-btn" class="huge center animated"><a href="#about"><i class="fa fa-angle-down"></i></a></h1>
			</div>
		</div>
	</div>
</div>
</section>
<section id="3" class="window">

	

</section>
{% endblock %}


{% block scripts %}
<script>

// Faded Intro Scenes
function fadePrec() {
	$('#intro_prec').show();
	$('#intro_prec').addClass("fadeInUp");
}

function fadeDownBtn() {
	$('#down-btn').show();
	$('#down-btn').addClass("fadeIn");
}

$('#web-skills-lead').click( function() {
	$('#web-skills').show();
	$('#web-skills').toggleClass("fadeOutUp");
	$('#web-skills').toggleClass("fadeInDown");
});

</script>
{% endblock %}