{% extends 'simon/simon_base.html' %} 


{% block scripts %}
{{block.super}}
<script src="{{STATIC_URL}}simon/js/jquery.appear.js"></script>
<script>

	// Faded Intro Scenes
	function fadePrec() {
		$('#intro_prec').show();
		$('#intro_prec').addClass("fadeInUp");
	}
	
	function fadeDownBtn() {
		$('#down-btn').show();
		$('#down-btn').addClass("fadeIn");
	}
	
	function fadeUpSub() {
		$('.sub-title').fadeIn();
	}
	
	$('#web-skills-lead').click( function() {
		$('#web-skills').show();
		$('#web-skills').toggleClass("fadeOutUp");
		$('#web-skills').toggleClass("fadeInDown");
	});

	$('.sub-title').hide();
	$('#intro_prec').hide();
	$('#down-btn').hide();
	$('.back-top').hide();
	$('#web-skills').hide();
	$('#intro_beauty').addClass("fadeInDown");
	setTimeout("fadePrec()", 800);
	setTimeout("fadeDownBtn()", 1300);
	setTimeout("fadeUpSub()", 2000);
	
	
	
	
	
	$('.skill').each( function() {
			for(i = 0; i < 5; i++) {
				$(this).children( ".skill-rating" ).append("<i class='fa fa-circle-thin'></i>");
			}	
	});
	
	

	function fadeInSkills() {
		console.log("asd");
		var i = 1;
		circleFill();
		function circleFill() {
			$('.skill').each( function() {
				var fillCount = $(this).data("rating");
				var counter = $(this).data("counter");
				if(fillCount != counter) {
					$(".skill-rating i:nth-child("+i+")", this ).removeClass("fa-circle-thin");
					$(".skill-rating i:nth-child("+i+")", this ).addClass("fa-circle");
					$(".skill-rating i:nth-child("+i+")", this ).css("opacity", "0.3");
					$(".skill-rating i:nth-child("+i+")", this ).animate({opacity:1},500);
					$(this).data("counter", i)
				}
			});
			i++;
			if(i <= 5) {
				setTimeout(circleFill, 160)	
			}
			
			
		}
	}




	$(function() {

	
	  	$('.skills-body').appear();
	
	  	$(document.body).on('appear', '.skills-body', function(e, $affected) {
	    	setTimeout(fadeInSkills, 500);
		});
	});


</script>
{% endblock %}

{% block content %}
<div class="back-top">
<a href="#home">Back to Top <i class="fa fa-arrow-up"></i></a>
</div>
<section class="window blur_1">
	<div class="row" id="home">
		<div class="center center-verticle">
			<h1 id="intro_beauty" class="huge animated">Beautiful Design</h1>
			<h1 id="intro_prec" class="large animated">Imagination is the limit</h1>
			<p id="intro-sub" class="sub-title animated">Front-End Developer - UI Designer - Contractor</p>
			<div class="spacer larger"></div>
			<p class="sub-title">Developer at Singing Horse Studios LLP</p>
			<p class="sub-title">Director & Developer at Brading Software LTD</p>
		</div>
		<div class="center-bottom">
			<h1 id="down-btn" class="huge center animated"><a href="#skills"><i class="fa fa-angle-down"></i></a></h1>
		</div>
	</div>
</section>



<section class="window white" id="skills">
<div class="container">
	<div class="row" id="skills_window">
		<div class="spacer large"></div>
		<div class="col-md-6">
			<div>
				<div class="heading">
					<h1 class="large"><i class="fa fa-pencil"></i> Creativity</h1>
				</div>
				
				<div class="spacer"></div>
				<div class="skills-body">
				{% for skill in skills %}
					{% if skill.option == 'Creativity' %}
					<div class="skill" data-counter="0" data-rating='{{skill.rating}}'>
						<span>{{skill.name}}</span><span class="pull-right skill-rating"></span>
					</div>
					{% endif%}
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div>
				<div class="heading">
					<h1 class="large"><i class="fa fa-cog"></i> Development</h1>
				</div>
				
				<div class="spacer"></div>
				<div class="skills-body">					
				{% for skill in skills %}
					{% if skill.option == 'Development' %}
					<div class="skill" data-rating='{{skill.rating}}'>
						<span>{{skill.name}}</span><span class="pull-right skill-rating"></span>
					</div>
					{% endif%}
				{% endfor %}					
				</div>
			</div>
		</div>
		
	</div>
</div>


</section>
{% endblock %}

