<br>
<img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/p720x720/1555285_10151894395021778_407212263_n.jpg" alt="Connor Swain" class="img-circle connor_pic">
<br>
<p class="text-center name">Connor Swain</p>
<p class="text-center job_title">Software Engineer</p>
<br>

<ul class="nav nav-pills nav-stacked">
    {% url 'connor' as connor %}
    {% url 'connor_hobbies' as hobbies %}
    {% url 'connor_projects' as projects %}
    <li{% if request.get_full_path == connor %} class="active"{% endif %}>
        <a href="{{ connor }}"><span class="glyphicon glyphicon-home"></span> Profile</a>
    </li>
    <li{% if request.get_full_path == projects %} class="active"{% endif %}>
        <a href="{{ projects }}"><span class="fa fa-trophy"></span> Projects</a>
    </li>

    <li{% if request.get_full_path == hobbies %} class="active"{% endif %}>
        <a href="{{ hobbies }}"><span class="fa fa-life-bouy"></span> Hobbies</a>
    </li>
    <li>
        <a href="https://drive.google.com/folderview?id=0B49ieCLX8KI3T0dRc2lzWlBWZG8&usp=sharing"><span class="glyphicon glyphicon-download-alt"></span> Full CV</a>
    </li>
</ul>
    <br>

<h3 class="contact">Contact Details</h3>
<p class="contact">Email - connor@bradingsoftware.co.uk</p>
<p class="contact">Phone - 07921 589074</p>
<p class="contact">Location - Brighton, UK</p>
<div style="text-align:center">
    <a href="http://uk.linkedin.com/pub/connor-swain/90/350/554">
        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View Connor Swain's profile on LinkedIn">

    </a>
</div>
<p class="contact bring_down">To find out what Brading Software is all about, click <a href="{% url 'home' %}" class="blue_link">here</a>!</p>
<p class="contact bring_down"><a href="{% url 'connor_private' %}" class="blue_link">Private</a></p>