<br>
    <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/p720x720/1555285_10151894395021778_407212263_n.jpg" alt="Connor Swain" class="img-circle connor_pic">
    <br>
    <p class="text-center name">Connor Swain</p>
    <p class="text-center job_title">Software Engineer</p>
    <ul class="nav nav-pills nav-stacked">
        {% url 'connor' as connor %}
        {% url 'connor_work_experience' as work_experience %}
        {{ request.get_full_path }}
    {{ request.path }}
    {{ connor }}
        <li{% if request.get_full_path == connor %} class="active"{% endif %}>
            <a href="{{ connor }}"><span class="glyphicon glyphicon-home"></span> Profile</a>
        </li>
        <li>
            <a href="{% url 'connor_projects' %}"><span class="fa fa-trophy"></span> Projects</a>
        </li>

        <li>
            <a href="{% url 'connor_hobbies' %}"><span class="fa fa-life-bouy"></span> Hobbies</a>
        </li>
        <li>
            <a href="{% url 'connor_pdf' %}"><span class="glyphicon glyphicon-download-alt"></span> Full CV</a>
        </li>
    </ul>
        <br>
        <br>
        <br>
    <h3 class="contact">Contact Details</h3>
    <p class="contact">Email - cs442@sussex.ac.uk</p>
    <p class="contact">Phone - 07921 589074</p>
    <p class="contact">Location - Brighton</p>