 <div class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'connor' %}">Connor Swain</a>
        </div>
        <div class="navbar-collapse collapse" id="mobile_nav_bar">
          <ul class="nav navbar-nav">
            {% url 'home' as brading_software%}
            {% url 'connor_hobbies' as hobbies %}
            {% url 'connor_projects' as projects %}

            <li{% if request.get_full_path == portfolio %} class="active"{% endif %}>
                <a href="{{ projects }}">Projects</a>
            </li>
            <li{% if request.get_full_path == about %} class="active"{% endif %}>
                <a href="{{ hobbies }}">Hobbies</a>
            </li>
            <li>
                <a href="{% url 'connor_pdf' %}">Full CV</a>
            </li>
            <li class="{% if request.get_full_path == home %}active{% endif %}">
                <a href="{{ brading_software }}">Brading Software</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>