{% extends 'connor/base.html' %}
{% block content %}
{% block first_section %}
<div class="row">
     <div class="col-md-6 hidden-md hidden-lg" style="margin-top: 50px;">
        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/p720x720/1555285_10151894395021778_407212263_n.jpg" alt="Connor Swain" class="img-circle connor_pic">
    </div>
    <div class="col-md-6" style="margin-top:50px;">
        <p class="lead description_text">Highly motivated and proactive student, developer and company director, both technically capable and business aware, looking to build experience and deliver results in an international commercial environment.</p>
        <p class="lead">Skilled <span class="bold">Django</span>, <span class="bold">Python</span> and <span class="bold">MySQL</span> developer, with multiple successful completed <a class="blue_link" href="{% url 'connor_projects' %}">applications</a> working closely with Google Adwords and instant messaging.</p>
        <p class="lead"></p>
    </div>

    <div class="col-md-6 hidden-sm hidden-xs" style="margin-top: 50px;">
        <img src="http://s27.postimg.org/o18eyl44z/myskills.jpg" class="img-responsive main_image">
    </div>
</div>
{% endblock %}
{% block second_section %}
    <br>
    <br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="panel panel-default">
          <div class="panel-heading text-center">Brading Software Ltd<small class="text-muted pull-right">2014 - Present</small></div>
          <div class="panel-body">
            <p>I founded Brading Software Ltd in the summer of 2014 with 2 peers to extend our web application and android skills, as well as gain invaluable experience in running and managing a small company. I am responsible for scoping and managing projects with clients, and developing the Django back-end to interact with both the website and the apps using RESTful API’s. </p>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading text-center">Singing Horse Studio<small class="text-muted pull-right">2013 - Present</small></div>
          <div class="panel-body">
            <p>Working as a Junior Software Engineer, I work with a front-end developer coding Django applications
                for clients such as the University of Sussex and NearYouNow.</p>

                <p>Projects include:</p>
                <ul>
                    <li>Optimisation of users adverts using custom built algorithms taking mathematical data from the Google Adwords API.</li>
                    <li>Delivered a distance learning application written in Django and Python</li>
                </ul>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading text-center">Abracadabra Leaflet Distribution<small class="text-muted pull-right">2012 - 2013</small></div>
          <div class="panel-body">
            <p>I was responsible for leaflet delivery across a wide geographic area, including tracking and reporting on progress and results. In this self-employed role, I had to plan the most efficient routes and approach to optimise my time and the resulting reward.</p>
            <p></p>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading text-center">Matalan<small class="text-muted pull-right">2012 - 2013</small></div>
          <div class="panel-body">
            <p>I undertook a variety of roles including checkout, customer service and stock management. My main responsibilities were to drive sales and resolve issues by engaging with customers. I exceeded all my targets including the storecard take-up rate and customer conversion targets.</p>
            <p></p>
          </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
{% block third_section %}
<div class="row">
    <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Sussex University</h1>
              <p>Computer Science BSc</p>
              <p>Graduating June 2015</p>
              <p>First and second year - first class</p>
            </div>
          </div>
        </div>
        <div class="item">

          <div class="container">
            <div class="carousel-caption">
              <h1>Queen Mary's College</h1>
              <p>Maths - A</p>
              <p>Computing - B</p>
              <p>Business - B</p>
             </div>
          </div>
        </div>
        <div class="item">

          <div class="container">
            <div class="carousel-caption">
              <h1>Sherfield School</h1>
              <p>English, Maths - A</p>
              <p>Biology, Physics, Spanish, Geography, PE - B</p>
              <p>Chemistry, History - C</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    </div>
</div>
{% endblock %}
{% endblock %}
{% block js %}
{{ block.super }}
{% endblock %}
