{% extends 'connor/one_page_base.html' %}
{% block first_section %}
<div class="row clearfix">
    <div class="col-md-6">
        <img src="http://s27.postimg.org/o18eyl44z/myskills.jpg" class="img-responsive main_image">
    </div>
    <div class="col-md-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="lead description_text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
</div>
{% endblock %}
{% block second_section %}
    <br>
    <br>
<div class="row clearfix">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading text-center">Singing Horse Studio</div>
          <div class="panel-body text-center">
            <p>Junior Software Engineer</p>
            <p>2013 - Present</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading text-center">Abracadabra Leaflet Distribution</div>
          <div class="panel-body text-center">
            <p>Leaflet Distributor</p>
            <p>2012-2013</p>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading text-center">Matalan</div>
          <div class="panel-body text-center">
            <p>Sales Assistant</p>
            <p>2012-2013</p>
          </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
{% block third_section %}
<div class="row clearfix">
    <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Sussex University</h1>
              <p>Computer Science BSc</p>
              <p>Graduating June 2015</p>
              <p>First and second year - first class honours</p>
            </div>
          </div>
        </div>
        <div class="item">

          <div class="container">
            <div class="carousel-caption">
              <h1>Queen mary's College</h1>
              <p>Maths - A</p>
              <p>Computing - B</p>
              <p>Business - B</p>
             </div>
          </div>
        </div>
        <div class="item">

          <div class="container">
            <div class="carousel-caption">
              <h1>Sherfield School</h1>
              <p>English, Maths - A</p>
              <p>Biology, Physics, Spanish, Geography, PE - B</p>
              <p>Chemistry, History - C</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
{% endblock %}
