{% extends 'connor/base.html' %}
{% block content %}
    <div class="container">
    <div class="row bring_down">
        <div class="col-md-4 text-center">
            <div class="row">
                <img height="250px;" src="http://en.xn--icne-wqa.com/images/icones/1/1/pictograms-nps-winter-snowboarding.png">
            </div>
            <div class="row">
                <div class="col-md-12 bring_down" style="margin-bottom: 50px;">
                    Having snowboarded for many years, I enjoy the challenge to constantly improve my capabilities.
                    <br>
                    <br>
                    I am striving to improve both my freestyle skills and border-cross ability - with the aim to snowboard more regularly in the future.

                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="row">
                <img height="250px;" src="http://www.wpclipart.com/recreation/sports/climbing/rock_climbing_icon.png">
            </div>
            <div class="row">
                <div class="col-md-12 bring_down" style="margin-bottom: 50px;">
                    President of USMC, University of Sussex Mountaineering Club (2014-2015).
                    This role includes taking 30-40 people climbing indoors every week, planning and
                    organizing trips across the country and administration with the student union.

                    <br>
                    <br>
                    I also attend regular indoor training and outdoor trips. I really enjoy the combination of
                    using your brain to find the optimal route with applying the strength and determination to complete it.

                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="row">
                <img height="250px;" src="http://s27.postimg.org/7kwz8qyxf/football_512.gif">
            </div>
            <div class="row">
                <div class="col-md-12 bring_down" style="margin-bottom: 30px;">
                    I organise and manage a 5-a-side football team, entering into the university league.
                    I have also previously played for a club and my school.

                    <br>
                    <br>
                    Playing as a defender, I enjoy the competitive side to the sport along with the combination of team work and individual
                    effort to win the games.
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}