{% extends 'connor/base.html' %}
{% block header_title %}
    Connors Private Page
{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/connor_private.css' %}">
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="row clearfix">
        <div class="col-md-12 column">
        {% for bookmark in bookmarks %}
            <a href="http://{{ bookmark.url }}/" class="btn btn-info btn-large">{{ bookmark.name }}</a>
        {% endfor %}
        </div>
    </div>
{% endblock %}
