{% extends 'connor/base.html' %}

{% block content %}
<div class="page-header">
        <h1 id="timeline">Projects</h1>
    </div>
    <ul class="timeline">
        {% for project in projects %}
        {% if forloop.counter|divisibleby:"2" %}
        <li>
        {% else %}
        <li class="timeline-inverted">
        {% endif %}
          <div onmouseover="nhpup.popup('{% if project.completed %}Completed {% else %}In progress {% endif %}{% ifequal project.icon "glyphicon-briefcase" %}work project{% else %}{% ifequal project.icon "glyphicon-book" %}university project{% else %}Brading Software project{% endifequal %}{% endifequal %}');" class="timeline-badge {% if project.completed %}success{% else %}warning{% endif %}"><i class="glyphicon {{ project.icon }}"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{ project.title }}</h4>
              <p><small class="text-muted">{{ project.start_date|date:"F Y" }} - {{ project.end_date|date:"F Y"  }}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{ project.description }}</p>
              <hr>
              <p class="skills_section">{{ project.skills }}</p>
            </div>
          </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
