.third{
    height: 33.333333333%;
}
.red{
    background-color: red;
}
#snowboarding{
   background: url("https://scontent-b-lhr.xx.fbcdn.net/hphotos-xpa1/t1.0-9/1472756_10152083147549100_970776031_n.jpg") no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#climbing{
   background: url("http://s15.postimg.org/50h816y3v/P1010908.jpg") no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#football{
   background: url("http://s23.postimg.org/6m0mna1dl/4438489374_f39f4358be_o.jpg") no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}